* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
    background-color: blanchedalmond;
}
main {
    /* display: flex; */
    margin: 1em;
}
.authContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.authInput {
    border: 1px solid black;
    width: 10em;
    font-size: 2em;
    margin: 0.5em;
}
.authInput::placeholder {
    text-align: right;
    margin-right: 0.5em;
}
.logo {
    border-radius: 25%;
}
.authInput:focus {
    outline: none;
    border-color: lightblue;
    box-shadow: 0 0 10px lightblue;
}
button:hover {
    cursor: pointer;
}
.authHeadline {
    font-size: 3.5em;
    margin-bottom: 1em;
    /* text-align: center; */
}
.welcomeTextContainer {
    max-width: 40vw;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.navbar {
    justify-content: space-between;
    display: flex;
    width: 100%;
}
.close {
    position: relative;
    left: 50%;
    top: -35px;
}
.close:hover {
    cursor: pointer;
}
.profilepic {
    border-radius: 50%;
    object-fit: cover;
}
.profilepic:hover {
    cursor: pointer;
    outline: none;
    border-color: lightblue;
    box-shadow: 0 0 10px lightblue;
}
.profileModal {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0, 0.5);
}
.pictureuploadmodal {
    width: 20em;
    height: 12em;
    border: 1px solid black;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pictureuploadmodal p {
    text-align: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.pictureuploadmodal form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-container {
    display: flex;
}

.buttonlink {
    background: none;
    border: none;
    text-decoration: none;
}
.buttonlink:hover {
    text-decoration: underline;
    cursor: pointer;
}
.buttonlink:visited {
    color: black;
}
.authlink {
    background: none;
    border: none;
    text-decoration: none;
    line-height: 1.5em;
}
.authlink:hover {
    text-decoration: underline;
    cursor: pointer;
}
.authlink:visited {
    color: black;
}
.authwrapper {
    display: flex;
    gap: 2em;
}
.genericAuthContainer {
    position: relative;
    top: 10em;
    margin-left: 10em;
}
.bioeditor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.editProfileContainer {
    margin-left: 1em;
}
.welcomeHeadline {
    font-size: 2em;
}
.welcometext {
    margin-top: 2em;
    line-height: 2em;
    font-size: 1.5em;
}
.welcome-msg {
    margin-bottom: 1em;
}
.welcomeContainer {
    margin-top: -5em;
    margin-right: 1em;
}
.file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file + label {
    /* font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black; */
    display: inline-block;
}

.file:focus + label,
.file + label:hover {
    /* border-color: lightblue;
    box-shadow: 0 0 10px lightblue; */
    cursor: pointer;
}
.textArea {
    margin-bottom: 0.5em;
}
.textArea:focus {
    outline: none;
    border-color: lightblue;
    box-shadow: 0 0 10px lightblue;
}
.textArea:hover {
    outline: none;
    border-color: lightblue;
    box-shadow: 0 0 10px lightblue;
}
.draftSave {
    border: none;
    width: 5em;
    line-height: 3em;
    background-color: lightcoral;
    border-radius: 50%;
}
.draftSave:hover {
    outline: none;
    border-color: lightblue;
    box-shadow: 0 0 10px lightblue;
}
.test {
    overflow-wrap: break-word;
    overflow: hidden;
}
.navlink {
    font-size: 1.5em;
    text-decoration: none;
    margin: 0.5em;
    color: black;
}
.navlink:hover {
    text-decoration: underline;
    cursor: pointer;
}
.content {
    margin-left: 100px;
    margin-right: 100px;
}
.findpeople-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foundpeople-container {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    gap: 2em;
}

.user-listing {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 15em;
}
.user-listing:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}
.user-listing img {
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 0.5em;
}
.user-listing p {
    font-size: 1.5em;
}

.genericInput {
    border: 1px solid black;
    height: 1.5em;
}
.genericInput::placeholder {
    text-align: right;
    margin-right: 0.5em;
}
.genericInput:focus {
    outline: none;
    border-color: lightblue;
    box-shadow: 0 0 10px lightblue;
}
.listing-img {
    height: 150px;
    width: 150px;
}
.friendButtons {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 200px;
    align-items: center;
}
.genericButton {
    border: 1px solid black;
    border-radius: 25px;
    background-color: lightcoral;
    /* font-weight: bold; */
    line-height: 1.3em;
    font-size: 1.25em;
    background-color: lightcoral;
    padding-left: 10px;
    padding-right: 10px;
}
.genericButton:hover {
    outline: none;
    border-color: lightblue;
    box-shadow: 0 0 10px lightblue;
}
.genericButton:active {
    position: relative;
    left: 1px;
    top: 1px;
}
.authButton {
    width: 10em;
    margin-bottom: 1em;
}
.friends-container {
    display: flex;
    flex-direction: column;
    gap: 3em;
}
.friendSectionHeadline {
    font-size: 2em;
    margin-bottom: 1em;
}
.friendsSection-container {
    /* margin-top: 2em; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 2em;
}
.inlinelink {
    background: none;
    border: none;
    text-decoration: none;
    /* line-height: 1.5em; */
}
.inlinelink:hover {
    text-decoration: underline;
    cursor: pointer;
}
.inlinelink:visited {
    color: black;
}
