body {
    background-color: blanchedalmond;
}
.registrationContainer {
    display: flex;
    flex-direction: column;
}
.registrationInput {
    border: 1px solid black;
    width: 10em;
    font-size: 2em;
    margin: 0.5em;
}
.someClass {
    font-size: 5em;
}
